.app-header {
  position: fixed;
  left: 0;
  right: 0;
  height: 60px;
  background-color: darkslategray;

  .menubar {
    position: fixed;
    list-style-type: none;

    li {
      float: left;
      color: white;
      margin-right: 1em;
      a{
        color: white;
        text-decoration: none;
        padding: 20px;

        &:hover {
          color: yellow;
          border-bottom: 3px solid yellow;
        }
      }
    }
  }

  .loginbtn {
    float: right;
    margin-top: 1em;
    margin-right: 1em;
    background: #1AAB8A;
    color: #fff;
    border: none;
    font-size: 1em;
    cursor: pointer;
  }
}



button {
  margin: .2em;
  background:#1AAB8A;
  color:#fff;
  border:none;
  font-size:1em;
  cursor:pointer;
}

.app-body {
  position: absolute;
  top: 60px;
}

.product-item {
  overflow: scroll;
  float: left;
  margin: 5px;
  text-align: center;

  a {
    text-decoration: none;
    div {
      img {
        width: 300px;
      }
    }
  }
}

.home-body {
  display: flex;
  padding-top: 60px;

  .event-product {
    background-color: aliceblue;
    width: 20%;
    text-align: center;
  }

  .main-visual {
    width: 60%;
    text-align: center;
  }

  .advertise {
    background-color: aliceblue;
    width: 20%;
    text-align: center;
  }

}
